%p.navbar-text 画像検索
%form.navbar-form
  %div.form-group
    %input.form-control{type: 'text', placeholder: "キーワード"}
    %button.brn.btn-info{type: 'submit'}検索

%h1 Monolog
= link_to "Chat", chatview_index_path, :class => "navsbar-link"
- if user_signed_in?
  Logged in as
  = succeed "." do
    %strong= current_user.email
  = link_to "Settings", edit_user_registration_path, :class => "navbar-link"
  |
  \#{link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link"}
- else
  = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
  |
  \#{link_to "Login", new_user_session_path, :class => 'navbar-link'}
%p Find me in app/views/home/index.html.erb
