!!!
%html
  %head
    %title Monolog
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    = yield
    = javascript_include_tag 'application'
